tags
*.swp
*.swo
*.orig
coverage.out

cmd/mfp-backend-dnssd/mfp-backend-dnssd
cmd/mfp-cups/mfp-cups
cmd/mfp-discover/mfp-discover
cmd/mfp/mfp
cmd/mfp-model/mfp-model
cmd/mfp-ppd/mfp-ppd
cmd/mfp-proxy/mfp-proxy
cmd/mfp-test/mfp-test
cmd/mfp-usb/mfp-usb
cmd/mfp-virtual/mfp-virtual

internal/evaluate/*.png

tools/ipp-registrations-generate/ipp-registrations-generate

.vscode
coverage.html
cover.out
